body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  height: 100vh;
  background-color: #f2f2f2;
}

/* Sidebar */
.sidebar {
  width: 220px;
  background-color: #4B0082;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.sidebar h2 {
  font-size: 18px;
  margin-bottom: 20px;
}

.sidebar button {
  background-color: #6a0dad;
  border: none;
  padding: 12px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.password-box {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  text-align: center;
}

.password-box input {
  width: 300px;
  padding: 10px;
  font-size: 18px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.password-box button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.password-box .add {
  background-color: #8e44ad;
  color: white;
  margin-top: 10px;
}

.password-box input#manualPassword {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
}
.password-box input#manualPassword:focus {
  border-color: #6a0dad;
  outline: none;
}

.generate { background-color: #28a745; color: white; }
.copy     { background-color: #007bff; color: white; }
.save     { background-color: #ffc107; color: black; }
